body {
	margin: 0px;
}

.scoreItem {
	font-size: var(--primary-text-size);
	padding: 5px;
	position: relative;
	top: 0px;
}

.scoreItem:nth-child(even) {
	background-color: var(--primary-background);
	color: var(--primary-text);
}

.scoreItem:nth-child(odd) {
	background-color: var(--secondary-background);
	color: var(--secondary-text);
}

.score {
	float: right;
}

.bottom {
	display: flex;
	justify-content: center;
	/* align-items: flex-end; */
	/* height: 100%; */
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.bottom .scoreItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max-content;
	flex: 1;
}

.bottom .scoreItem:nth-child(even) {
	background-color: var(--primary-background);
	color: var(--primary-text);
}

.bottom .scoreItem:nth-child(odd) {
	background-color: var(--secondary-background);
	color: var(--secondary-text);
	
}

.bottom .scoreItem .name {
	font-size: var(--primary-text-size);
	text-align: center;
}

.bottom .scoreItem .score {
	font-size: var(--secondary-text-size);
}

.picture .scoreItem img {
	width: var(--image-size);
}

.picture .scoreItem {
	display: flex;
	align-items: center;
}

.picture .scoreItem .name {
	margin-left: calc(var(--primary-text-size)*0.2);
}

.picture .scoreItem .score {
	margin-left: auto;
}

.picture-round .scoreItem img {
	width: var(--image-size);
	height: var(--image-size);
	border-radius: 50%;
	object-fit: cover;
	aspect-ratio: 1;
}

.picture-round .scoreItem {
	display: flex;
	align-items: center;
}

.picture-round .scoreItem .name {
	margin-left: calc(var(--primary-text-size)*0.2);
}

.picture-round .scoreItem .score {
	margin-left: auto;
}